.tab-active {
    border-bottom: solid #0098A0;
}

.tab-deactivate {
    opacity: 0.5;
}

.owl-height {
    height: 1.5rem;
}


.tile1 {
    background-image: url("assets/images/tile1.png");
    background-size: cover;
    height: 280px;
    /*margin-right: 20px;*/
    /*margin-left: 20px;*/
}

.tile2 {
    max-width: 380px;
}

.text-gold {
    color: #FFD798;
}

.text-fosfori {
    color: #0098A0;
}

.text-half-black {
    color: #5A5A5A;
}

.under-line {
    border-bottom: solid #0098A0;
}

.m-6 {
    margin: 6rem !important
}

.m-7 {
    margin: 12rem !important
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu .col-3 {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu .col-3:hover {
    background-color: #777;
}

.training {
    background-color: #00234F;
}

.text-rtl {
    direction: rtl !important;
}

.text-ltr {
    direction: ltr !important;
}

.bg-lajani {
    background-color: #00626D;
}

.icon-down {
    margin-top: 20px;
    margin-left: -11px;
    margin-right: -11px;
}

input[type=range] {
    height: 10px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #D2D2D2;
    border-radius: 5px;
    border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 4px;
    width: 280px;
    border-radius: 5px;
    background: #0098A0;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 0px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #D2D2D2;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #D2D2D2;
    border-radius: 5px;
    border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 4px;
    width: 50px;
    border-radius: 5px;
    background: #0098A0;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #D2D2D2;
    border: 0px solid #000000;
    border-radius: 10px;
    box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-fill-upper {
    background: #D2D2D2;
    border: 0px solid #000000;
    border-radius: 10px;
    box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 4px;
    width: 50px;
    border-radius: 5px;
    background: #0098A0;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #D2D2D2;
}

input[type=range]:focus::-ms-fill-upper {
    background: #D2D2D2;
}

#oath-pic-top {
    background: transparent url("assets/images/oath-pic-top.png") no-repeat scroll 100% 0%;
    height: 185px;
    background-size: 27% auto;
}

#oath-pic-bottom {
    background: transparent url("assets/images/oath-pic-bottom.png") no-repeat scroll 0% 100%;
    height: 185px;
    background-size: 27% auto;
}

#oath {
    background-image: url("assets/images/oath-pic-bottom.png"), url("assets/images/oath-pic-top.png");
    background-position: left bottom, right top;
    background-repeat: no-repeat;
}

#oath1 {
    background-image: url("assets/images/oath-pic-top.png");
    background-position: right top;
    background-repeat: no-repeat;
}

#oath2 {
    background-image: url("assets/images/oath-pic-bottom.png");
    background-position: left bottom;
    background-repeat: no-repeat;
}

#ouath-body {
    margin-right: 70px;
    margin-left: 70px;
    margin-top: -120px;
    margin-bottom: -80px;
}

#section1 {
    background: url("assets/images/oath-pic-top.png") right top no-repeat, url("assets/images/oath-pic-bottom.png") left bottom no-repeat;
    background-color: #F3F3F3;
    min-height: 300px;
}

#section3 {
    background-image: url("assets/images/about-us-2.png");
    height: 690px;
}

.admin-sidebar {
    min-height: 100vh;
    /*position: fixed;*/
    /*top: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*z-index: 100; !* Behind the navbar *!*/
    /*padding: 10px 0 0; !* Height of navbar *!*/
    /*box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1);*/
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.admin-nav .nav-item p {
    color: dodgerblue;
    margin-bottom: 0px;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome, Edge, Opera and Firefox */
}

.sub p {
    color: whitesmoke !important;
}

.admin-nav .sub {
    margin-right: 1.1rem;
}

.admin-nav .selected {
    /*background-color: #3dd5f3;*/
    border: 1px solid green;
    border-radius: 15px;
    margin-right: 5px;
    margin-left: 5px;
}

.nav-link-t {
    /*color: #5a5a5a !important;*/
    font-size: 1.7rem;
}

.comdit-dashboard a {
    text-decoration: none !important;
}

.card {
    background-color: rgba(245, 245, 245, 0);
}

.card-header, .card-footer {
    opacity: 1
}

.container {
    padding-right: 50px;
    padding-left: 50px;
}


.about-box {
    width: 100%;
    padding-right: 50px;
    padding-left: 0;
    margin-right: 50px;
    margin-left: 0;
}

@media (min-width: 576px) {
    .about-box {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .about-box {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .about-box {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .about-box {
        max-width: 1400px;
    }
}

.main-container {
    /*padding-right: 88px;*/
    /*margin-left: 50px;*/
}

.hi-Li-red1 {
    border: 2px red;
    border-style: dotted;
}

.hi-Li-1 {
    border: 2px red;
    border-style: dashed solid;
}

.hi-Li-2 {
    border: 2px blue;
    border-style: dashed solid;
}

.hi-Li-3 {
    border: 2px yellow;
    border-style: dashed solid;
}

.hi-Li-4 {
    border: 2px orange;
    border-style: dashed solid;
}

.hi-Li-5 {
    border: 2px darkorchid;
    border-style: dashed solid;
}

.about-box {
    padding-top: 65px;
    padding-bottom: 65px;
}

.l-container {
    margin-right: 50px;
    padding: 35px 0 35px 35px;
}

.r-container {
    margin-left: 50px;
    padding: 35px 35px 35px 0;
}

.srow {

    margin-right: 6px;
    margin-left: 6px;
}

.boxy {
    height: 280px;
}

.about-box3 {
    margin-right: 25px;
    margin-left: 25px;
}

.slider-dots {
    display: flex !important;
    justify-content: flex-end !important;
    margin-top: 50px;
    margin-left: 35rem !important;
    direction: rtl;
}

.slider-dots li button {

    background-color: #F8F3EB;
    border: none;
    color: white;
    padding: 3px;
    display: inline-block;
    font-size: 0;
    margin: 4px 5px;
    border-radius: 80%;
}

.slider-dots li {
    display: inline;
}

.slider-dots button {
    display: none;
}

.slick-active button {
    /*-webkit-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.7);*/
    /*box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.7);*/
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.9);

}

.slick-active LI {
    display: none;
}
.slick-list{
    margin: 0!important;
    padding: 0!important;
}
.slider-project-dots{
    
}

.slider-dots {
}

.khat-mashy ul {
    list-style-image: url("assets/images/li.png");
}

.mr-6,
.mx-6 {
    margin-right: 6rem !important;
}

.ml-6,
.mx-6 {
    margin-left: 6rem !important;
}

.dep-button {

}

.footer-link a {
    font-size: 14px;
    display: block;
    margin-top: 13px;
}

.footer-link {

    padding-top: 77px;
}

.react-tabs {
    -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
    /*border-bottom: 1px solid #aaa;*/
    margin: 0 0 10px;
    padding: 0;
}

.react-tabs__tab {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
    opacity: 0.3;
    color: #5A5A5A;
    font-size: 14px;
}

.react-tabs__tab--selected {
    background: #fff;
    /*border-color: #aaa;*/
    color: #0098A0;
    font-family: IRANSansXBold !important;
    opacity: 1;
    /*border-radius: 5px 5px 0 0;*/
}

.react-tabs__tab--disabled {
    color: GrayText;
    cursor: default;
}

.react-tabs__tab:focus {
    box-shadow: 0 0 5px hsl(208, 99%, 50%);
    border-color: hsl(208, 99%, 50%);
    outline: none;
}

.react-tabs__tab:focus:after {
    content: "";
    position: absolute;
    height: 5px;
    left: -4px;
    right: -4px;
    bottom: -5px;
    background: #fff;
}

.react-tabs__tab-panel {
    display: none;
}

.react-tabs__tab-panel--selected {
    display: block;
}

.nav-active {
    color: #0098A0 !important;
    text-decoration: underline !important;
    font-family: IRANSansXBlack;
    padding-bottom: 1px !important;
}

/*.dropdown-toggle::after {*/
/*  display: inline-block;*/
/*  margin-left: 0.255em;*/
/*  vertical-align: 0.255em;*/
/*  content: "";*/
/*  border-top: 0.3em solid  #0098A0;*/
/*  border-right: 0.3em solid transparent;*/
/*  border-bottom: 0;*/
/*  border-left: 0.3em solid transparent;*/
/*}*/

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    margin-right: 0.255em;
    vertical-align: middle;
    content: "";
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    width: 10px;
    height: 6px;
    background-image: url("assets/images/arrow-down.png");
    background-repeat: no-repeat;
}

.styles_scroll-to-top__2A70v {
    background-color: transparent !important;
    box-shadow: none;
}

.slider-style {
    z-index: 50;

    margin-top: -160px;

}

.nav-icon-white {
    color: white;
}

.nav-icon-black {
    color: #5a5a5a;
}

.box {
    content: "";
    width: 480px;
    height: 760px;
    background-color: #00626d;
    position: absolute;
    left: 0;
    top: 0;
    max-width: 1366px;

}

.box-cover {
    position: relative;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .slider-style {
        z-index: 50;
        margin-top: 0;

    }

    .box {
        content: "";
        width: 0;
        height: 0;
        position: absolute;

    }

    .slider-style {
        margin-top: 80px;
    }
}

@media (max-width: 992px) {
    .nav-icon-white {
        color: #001d21;
    }
}

.home-page .header-contianer {
    margin-top: -104px !important;
}


.lip::before {
    list-style: none;
    content: '✓ ';
}

.mamoriat li {
    margin-top: 22px;
    margin-bottom: 22px;
}

.box-shadow {
    -webkit-box-shadow: 0px 0px 9px 0px #777777;
    box-shadow: 0px 0px 9px 0px #777777;
}



.slider-project-dots
{
    position: absolute;
    bottom: 0;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slider-project-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slider-project-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slider-project-dots li button:hover,
.slider-project-dots li button:focus
{
    outline: none;
}
.slider-project-dots li button:hover:before,
.slider-project-dots li button:focus:before
{
    opacity: 1;
}
.slider-project-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slider-project-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

.slick-prev,
.slick-next
{
    z-index: 50;
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: 0;
}
[dir='rtl'] .slick-prev
{
    right: 0;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: 0;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: 0;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}
.image-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 0 10px;
  grid-auto-rows: 10px;
}

.image-list img {
  width: 250px;
  grid-row-end: span 2;
}
